{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}">
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css">
    <title>STYLE-SCULPT</title>
    <style>
         body {
      background-image:url( 'static/images/background2.jpg');
      background-size: cover;
      background-position: center;
      height: 100vh;
      margin: 0;
      display: flex;
      justify-content: center;
      align-items: center;
      border-radius: 20px;
      color: black;
    }
    .navbar {
      background-color: #000;
    }
      .sidebar {
          background-color: purple;
      }
      .sidebar-link {
          color: #000;
          padding: 10px 15px;
      }
      .sidebar-link:hover {
          background-color: #dee2e6;
          text-decoration: none;
      }
      a{
          text-decoration: none;
          color: black;
      }
  </style>

</head>
<body>
    <div class="container">

        <!--1st row start or header section start-->
          <!-- Navbar -->
  <nav class="navbar navbar-expand-lg navbar-dark">
    <div class="container">
      <img src="{% static 'images/logo1.png' %}" alt="" width="50" height="50"> &nbsp;
      <a class="navbar-brand" href="/index">StyleSculpt</a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav ml-auto">
          <li class="nav-item active">
            <a class="nav-link" href="/index">Home</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/about">About</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/collections">Collections</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/contact">Contact</a>
          </li>

          {% if user.is_authenticated %}
          <li class="nav-item">
            <a class="nav-link" href="/logout">Logout</a>
          </li>
        </ul>

        <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
          <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
        </nav>

        {% else %}
&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;
&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;
&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;
&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;
        <div class="d-flex">
          <button type="button" class="btn btn-outline-warning me-2 btn-warning">
            <a href="/login1">Login</a>
          </button>

          <button type="button" class="btn btn-danger"><a href="/register1">Sign-up</a></button>
        </div>
        {% endif %}

      </div>
    </div>
  </nav>
      <!--!st row end or header section end-->
<!-- 2nd row start-->
<div class="container">
    <div class="row">
        <div class="col-md-4 mx-auto mt-5 shadow p-3">
            <h2 style="text-align: center; border-radius: 10px;" class="bg-warning">LOGIN</h2><br>
            <form method="POST">
                {% csrf_token %}
                <div class="mb-3">
                    {% if errmsg %}
                    <div class="alert alert-danger" role="alert">
                        {{errmsg}}
                    </div>
                    {% endif %}
                    
                    <label for="input1" class="form-label">Username: </label>
                    <input type="text" class="form-control" id="input1" name="uname" placeholder="username">
                </div>
                <div class="mb-3">
                    <label for="input3" class="col-sm-2 col-form-label">Password:</label>
                    <input type="password" class="form-control" id="input3" name="upass">
                </div>
                <div class="col-auto">
                    <button type="submit" class="btn btn-warning mb-3">Login</button>&nbsp;
                    &nbsp; &nbsp; New User?&nbsp;<a href="/register" class="text-danger" style="text-decoration: none;">Register</a>
                  </div>
            </form>
        </div>
    </div>
</div>

<!--3rd row start or footer start-->
<div class="row mt-3 bg-light p-3">
    <div class="col-md-4">
        <h5 style="color: purple;">Address</h5><hr>
        Usha Kiran-rowhouse,<br>
        KK Market backside,<br>
        Gruhakalpa Society, Vastukalpa Society,<br>
        Bibwewadi, Pune-411002,<br>
        Maharashtra.<br>
        Contact: 8600212900
    </div>
    <div class="col-md-4">
        <h5 style="color: purple;">Quick Links</h5><hr>
        <a href="/index">Home</a><br>
        <a href="/about">About</a><br>
        <a href="/contact">Contact</a>
    </div>
    <div class="col-md-4">
        <h5 style="color: purple;">Social Media</h5><hr>
        <a href="https://www.threads.net/@label_sejalshweta_23"><i class="bi bi-threads"></i></a> &nbsp; &nbsp;
        <a href="https://www.instagram.com/label_sejalshweta_23/"><i class="bi bi-instagram"></i></a> &nbsp; &nbsp;
        <a href="https://maps.app.goo.gl/G1ve4EMXc9xKqfvq7"><i class="bi bi-geo-alt-fill"></i></a> &nbsp; &nbsp;
    </div>
    </div>
    </div>
    <script src="{% static 'js/bootstrap.min.js' %}"></script>
    <script src="{% static 'js/popper.js' %}"></script>
</body>
</html>