{% extends 'base.html' %}
{% load static %}
{% block 'main' %}

<div class="container mt-4">
    <h1 class="text-center mb-4">Order History</h1>
    <table class="table">
        <thead class="thead-dark">
            <tr>
                <th scope="col">Order ID</th>
                <th scope="col">Product Name</th>
                <th scope="col">Quantity</th>
                <th scope="col">Amount</th>
            </tr>
        </thead>
        <tbody>
            {% for entry in history %}
                <tr>
                    <td>{{ entry.uid.username }}</td>
                    <td>{{ entry.pid.name }}</td>
                    <td>{{ entry.quantity }}</td>
                    <td>{{ entry.amt }}</td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
</div>

{% endblock 'main' %}