{% extends 'base.html' %}
{% block 'main' %}
{% load static %}

    <!--2nd row start or main section start-->
    <div class="container mt-5 mb-5" style="text-align: center; background-image: url('static/images/background1.jpg');">
        <h1>Payment Successful</h1>
        <p>Thank you for your payment!</p>
        <p>Your transaction was successful.</p>
        <p><a href="/index"><button class="btn btn-danger">Shop More</button></a></p>
    </div>
    <!--2nd row end or main section end-->

{% endblock 'main' %}